.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rhistory
.RData
.Ruserdata
# 'data' folders #
data/
raw-data/
lookups/
outputs/
# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]
# Excel files #
*.[xX][lL][sS]*
# SPSS formats #
*.[sS][aA][vV]
# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]
